pandas
ydata-profiling
tqdm
google-generativeai
python-dotenv
bs4
scikit-learn
lightgbm
nltk
transformers
torch
sentence-transformers
transformers[torch]
torchvision
gensim
pillow
nbformat
openai
tiktoken
omegaconf
rich
anthropic
langchain_anthropic
langgraph
langchain_openai
boto3
langchain_aws
iterative-stratification
xgboost
catboost
imblearn
scipy
datasets
langchain
langchain_core
langchain_community
langchain_text_splitters
ftfy
scikit-multilearn